/* HTML, CSS, JavaScript learning sources:
    https://www.w3schools.com/
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body, html {
  background-color: #282c34;
  color: #ccf6ff;
  height: 100%;
  margin: 0;
  text-align: center;
}

/* for page height */
#root, .App, .pageContainer {
  height: 100%;
}

/* for navigation bar */
.navigationBar {
  /* flexbox is used to layout content for page */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #485861;
  border-bottom: 1px solid #ccf6ff;
}
.navigationBar #logo, .navigationBar #aboutUsButton {
  margin: 0 30px;
}
.navigationBar #logo {
  max-width: 125px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
}
.navigationBar #aboutUsButton {
  height: 40px;
  background-color: transparent;
  color: #ccf6ff;
  border: 1px solid #ccf6ff;
  cursor: pointer;
}


/* for page container */
.pageContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* for chart div */
.chart {
  width: 100%;
  max-width: 900px;
  background-color: #282c34;
}

/* for player div */
.player {
  /* CSS for each player div */
  width: 300px;
  background-color: #485861;
  border: 1px solid #ccf6ff;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.player .headshot {
  /* CSS for each player headshot (in each .player div) */
  display: block;
  width: 80%;
  min-width: 100px;
  max-width: 200px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
  max-height: 150px;
  margin: auto; /*optional centering of image*/
  border-radius: 50%;
}
.player .playerName {
  font-size: 25px;
  text-decoration: underline;
  margin: 30px;
}
.playerBio .bioInfo {
  display: block;
}
.bioInfo {
  color: #ffffff;
}
.bioInfo#team {
  margin-bottom: 10px;
}
.bioInfo .bioTitle {
  color: #ccf6ff;
}
